# Observations

- period and calculation_type features all the same value, can drop
- split time series into batches of shorter sequences
- how to impute intermediate missing values? -> take last? interpolate?
- add year, month, absolute int as features for date

- one hot encoding of categorical features: too many, not important enough... drop? keep as single numerical feature?

- duplicate datapoints, same brand, same date, same values - two different compsets...

# TODO:
- align the data by brand
- are there weeks missing in between?
- normalize values


# Discussion
- should we predict by brand or by legal entity?


- standardization in the end after adding additional metrics

In [89]:
import pandas as pd

In [132]:
DATA_PATH = "/home/david/code/datathon24-personal/data/skylab_instagram_datathon_dataset.csv"

df = pd.read_csv(DATA_PATH, sep=";")

def prepare_data(df, sequence_length=10, prediction_dist=4):

    df = df.drop(columns=["period", "calculation_type", "compset", "compset_group", "legal_entity_name", "ultimate_parent_legal_entity_name", "primary_exchange_name"])
    df["period_end_date"] = pd.to_datetime(df["period_end_date"])

    df = df.rename(columns={'business_entity_doing_business_as_name': 'brand', 'period_end_date': 'date'})

    df = df[df['brand'] != "All Brands"]

    df = df.groupby(['brand', 'date']).first().reset_index()

    def correct_country_name(name):
        country_map = {
            "Hong Kong": "China",
            "China;Hong Kong": "China",
            ";France": "France",
            ";": None,
            "Belgium;": "Belgium"
        }
        if name in country_map.keys():
            return country_map[name]
        return name

    df['domicile_country_name'] = df['domicile_country_name'].apply(correct_country_name)




    categorical_features = ["domicile_country_name"]
    for feature in categorical_features:
        df = pd.get_dummies(df, columns=[feature], prefix=feature, dummy_na=True)

    # TODO: remove bad data


    # TODO: add additional features


    # TODO: normalize values
    normalize_cols = ["followers", "pictures", "videos", "comments", "likes"]

    # TODO: impute missing values
    df = df.fillna(method='ffill')
    

    # TODO: create sequences

    # TODO: split df into brands
    # sequence per brand
    # label

    label_col = None

    sequences = []
    labels = []

    for brand in df['brand'].unique():
        branddf = df[df['brand'] == brand]

        for i in range(len(branddf) - (sequence_length + prediction_dist)):
            sequence = df.iloc[i:i + sequence_length].values
            sequences.append(sequence)

            sequence_labels = df.iloc[i+prediction_dist:i+sequence_length+prediction_dist][label_col].values
            labels.append(sequence_labels)


    
    


    return sequences, labels

# df = preprocess(df)

In [135]:
df.columns

Index(['period', 'period_end_date', 'compset_group', 'compset',
       'business_entity_doing_business_as_name', 'legal_entity_name',
       'domicile_country_name', 'ultimate_parent_legal_entity_name',
       'primary_exchange_name', 'calculation_type', 'followers', 'pictures',
       'videos', 'comments', 'likes'],
      dtype='object')

Empty DataFrame
Columns: [brand, date, followers, pictures, videos, comments, likes, domicile_country_name_Australia, domicile_country_name_Belgium, domicile_country_name_Brazil, domicile_country_name_Canada, domicile_country_name_China, domicile_country_name_Denmark, domicile_country_name_France, domicile_country_name_Germany, domicile_country_name_Italy, domicile_country_name_Japan, domicile_country_name_Mexico, domicile_country_name_NaN, domicile_country_name_Netherlands, domicile_country_name_New Zealand, domicile_country_name_Philippines, domicile_country_name_Poland, domicile_country_name_Singapore, domicile_country_name_Spain, domicile_country_name_Sweden, domicile_country_name_Switzerland, domicile_country_name_United Kingdom of Great Britain and Northern Ireland, domicile_country_name_United States of America, domicile_country_name_nan]
Index: []

[0 rows x 30 columns]

In [114]:
df.columns

Index(['brand', 'date', 'followers', 'pictures', 'videos', 'comments', 'likes',
       'domicile_country_name_Australia', 'domicile_country_name_Belgium',
       'domicile_country_name_Brazil', 'domicile_country_name_Canada',
       'domicile_country_name_China', 'domicile_country_name_Denmark',
       'domicile_country_name_France', 'domicile_country_name_Germany',
       'domicile_country_name_Italy', 'domicile_country_name_Japan',
       'domicile_country_name_Mexico', 'domicile_country_name_NaN',
       'domicile_country_name_Netherlands',
       'domicile_country_name_New Zealand',
       'domicile_country_name_Philippines', 'domicile_country_name_Poland',
       'domicile_country_name_Singapore', 'domicile_country_name_Spain',
       'domicile_country_name_Sweden', 'domicile_country_name_Switzerland',
       'domicile_country_name_United Kingdom of Great Britain and Northern Ireland',
       'domicile_country_name_United States of America',
       'domicile_country_name_nan'],
      dtype='object')

In [91]:

df

,date,compset_group,compset,brand,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,followers,pictures,videos,comments,likes
0,2019-12-07,Luxury & Premium & Mainstream,Soft Luxury,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,22066189.0,97.0,13.0,16239.0,6112205.0
1,2021-01-30,Luxury & Premium & Mainstream,Luxury & Premium & Mainstream,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,24289963.0,54.0,2.0,13358.0,3189144.0
2,2016-05-14,Luxury & Premium & Mainstream,Soft Luxury,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,7137442.0,42.0,8.0,15894.0,2152955.0
3,2019-04-20,Luxury & Premium & Mainstream,Luxury & Premium & Mainstream,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,18901125.0,73.0,9.0,26762.0,5224916.0
4,2023-03-25,Luxury & Premium & Mainstream,US Softlines Analyst Interest List,Versace,Capri Holdings,United States of America,Capri Holdings,New York Stock Exchange,30251374.0,54.0,10.0,25681.0,5760987.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
704308,2017-03-18,Outdoor Gear,Outdoor Gear,Klean Kanteen,Klean Kanteen Inc,NaN,Klean Kanteen Inc,NaN,NaN,50.0,8.0,1271.0,14818.0
704309,2018-10-27,Outdoor Gear,Outdoor Gear,Klean Kanteen,Klean Kanteen Inc,NaN,Klean Kanteen Inc,NaN,163873.0,125.0,2.0,1764.0,34188.0
704310,2023-08-05,Outdoor Gear,Outdoor Gear,Klean Kanteen,Klean Kanteen Inc,NaN,Klean Kanteen Inc,NaN,319485.0,118.0,35.0,1697.0,6328.0
704311,2019-11-02,Outdoor Gear,Outdoor Gear,Klean Kanteen,Klean Kanteen Inc,NaN,Klean Kanteen Inc,NaN,228699.0,129.0,2.0,1972.0,29174.0
704312,2023-02-25,Outdoor Gear,Outdoor Gear,Klean Kanteen,Klean Kanteen Inc,NaN,Klean Kanteen Inc,NaN,310895.0,128.0,33.0,2606.0,10960.0

In [92]:
tmp = df.groupby(['brand', 'date']).count()
tmp

                       compset_group  compset  legal_entity_name  \
brand      date
24S        2017-05-06              4        4                  4
           2017-05-13              4        4                  4
           2017-05-20              4        4                  4
           2017-05-27              4        4                  4
           2017-06-03              4        4                  4
...                              ...      ...                ...
shopDisney 2023-08-19              1        1                  1
           2023-08-26              1        1                  1
           2023-09-02              1        1                  1
           2023-09-09              1        1                  1
           2023-09-16              1        1                  1

                       domicile_country_name  \
brand      date
24S        2017-05-06                      4
           2017-05-13                      4
           2017-05-20                      4
           2017-05-27                      4
           2017-06-03                      4
...                                      ...
shopDisney 2023-08-19                      1
           2023-08-26                      1
           2023-09-02                      1
           2023-09-09                      1
           2023-09-16                      1

                       ultimate_parent_legal_entity_name  \
brand      date
24S        2017-05-06                                  4
           2017-05-13                                  4
           2017-05-20                                  4
           2017-05-27                                  4
           2017-06-03                                  4
...                                                  ...
shopDisney 2023-08-19                                  1
           2023-08-26                                  1
           2023-09-02                                  1
           2023-09-09                                  1
           2023-09-16                                  1

                       primary_exchange_name  followers  pictures  videos  \
brand      date
24S        2017-05-06                      4          0         0       0
           2017-05-13                      4          0         4       4
           2017-05-20                      4          0         4       4
           2017-05-27                      4          0         4       4
           2017-06-03                      4          0         4       4
...                                      ...        ...       ...     ...
shopDisney 2023-08-19                      1          1         1       1
           2023-08-26                      1          1         1       1
           2023-09-02                      1          1         1       1
           2023-09-09                      1          1         1       1
           2023-09-16                      1          1         1       1

                       comments  likes
brand      date
24S        2017-05-06         0      0
           2017-05-13         4      4
           2017-05-20         4      4
           2017-05-27         4      4
           2017-06-03         4      4
...                         ...    ...
shopDisney 2023-08-19         1      1
           2023-08-26         1      1
           2023-09-02         1      1
           2023-09-09         1      1
           2023-09-16         1      1

[298495 rows x 11 columns]

,brand,date,compset_group,compset,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,followers,pictures,videos,comments,likes
0,24S,2017-05-06,Apparel Retail,Apparel Retail,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,NaN,NaN,NaN,NaN,NaN
1,24S,2017-05-13,Apparel Retail,US Softlines Analyst Interest List,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,NaN,6.0,3.0,57.0,1765.0
2,24S,2017-05-20,Apparel Retail,Apparel Retail,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,NaN,6.0,3.0,57.0,1765.0
3,24S,2017-05-27,Apparel Retail,Apparel Retail,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,NaN,6.0,3.0,57.0,1765.0
4,24S,2017-06-03,Apparel Retail,Apparel Retail,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,NaN,24.0,3.0,109.0,3922.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298490,shopDisney,2023-08-19,Toys & Collectibles,Toys & Collectibles,Disney,United States of America,Disney,New York Stock Exchange,4221812.0,266.0,52.0,3099.0,266166.0
298491,shopDisney,2023-08-26,Toys & Collectibles,Toys & Collectibles,Disney,United States of America,Disney,New York Stock Exchange,4224473.0,265.0,61.0,3494.0,316126.0
298492,shopDisney,2023-09-02,Toys & Collectibles,Toys & Collectibles,Disney,United States of America,Disney,New York Stock Exchange,4228605.0,268.0,61.0,3920.0,341795.0
298493,shopDisney,2023-09-09,Toys & Collectibles,Toys & Collectibles,Disney,United States of America,Disney,New York Stock Exchange,4233764.0,259.0,56.0,3700.0,335231.0
298494,shopDisney,2023-09-16,Toys & Collectibles,Toys & Collectibles,Disney,United States of America,Disney,New York Stock Exchange,4239207.0,244.0,72.0,3908.0,330793.0

In [57]:
brands = list(df['brand'].unique())

In [59]:
df = df.sort_values(by=['brand', 'date'])

# Group by brand and compute time difference
df['time_since_last'] = df.groupby('brand')['date'].diff().dt.days

# Fill NaN values with 0 for the first datapoint of each brand
df['time_since_last'] = df['time_since_last'].fillna(0).astype(int)

In [68]:
time_since_last_is_0 = df[df['time_since_last'] == 0].groupby('brand').count()
time_since_last_is_0

,date,compset_group,compset,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,followers,pictures,videos,comments,likes,time_since_last
brand,,,,,,,,,,,,,
24S,1000,1000,1000,1000,1000,1000,1000,939,996,996,996,996,1000
3.1 Phillip Lim,911,911,911,911,0,911,0,874,911,911,911,911,911
3CE,1,1,1,1,1,1,1,0,1,1,1,1,1
A. Lange & Soehne,404,404,404,404,404,404,404,395,400,401,401,401,404
ANIMALE,1,1,1,1,1,1,1,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
bareMinerals,1,1,1,1,1,1,1,0,1,1,1,1,1
dd's Discounts,659,659,659,659,659,659,659,648,659,656,659,659,659
e.l.f.,1,1,1,1,1,1,1,0,1,1,1,1,1
iRobot,1,1,1,1,1,1,1,0,0,0,0,0,1
shopDisney,1,1,1,1,1,1,1,1,1,1,1,1,1

In [69]:
time_since_last_is_0[time_since_last_is_0['date'] > 1]

,date,compset_group,compset,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,followers,pictures,videos,comments,likes,time_since_last
brand,,,,,,,,,,,,,
24S,1000,1000,1000,1000,1000,1000,1000,939,996,996,996,996,1000
3.1 Phillip Lim,911,911,911,911,0,911,0,874,911,911,911,911,911
A. Lange & Soehne,404,404,404,404,404,404,404,395,400,401,401,401,404
Abercrombie & Fitch,911,911,911,911,911,911,911,911,911,911,911,911,911
About You,1210,1210,1210,1210,0,1210,0,429,1206,1203,1206,1206,1210
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zales,807,807,807,807,807,807,807,774,802,804,804,804,807
Zara,1366,1366,1366,1366,1366,1366,1366,1366,1366,1347,1366,1366,1366
Zegna,1366,1366,1366,1366,0,1366,0,1366,1366,1366,1366,1366,1366
Zenith,893,893,893,893,893,893,893,874,893,893,893,893,893
dd's Discounts,659,659,659,659,659,659,659,648,659,656,659,659,659

In [70]:
df[df['brand'] == "Abercrombie & Fitch"]

,date,compset_group,compset,brand,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,followers,pictures,videos,comments,likes,time_since_last
630685,2015-01-03,Apparel Retail,Omnichannel Apparel Retail,Abercrombie & Fitch,Abercrombie & Fitch,United States of America,Abercrombie & Fitch,New York Stock Exchange,1669930.0,5.0,1.0,908.0,43976.0,0
631556,2015-01-03,Apparel Retail,US Softlines Analyst Interest List,Abercrombie & Fitch,Abercrombie & Fitch,United States of America,Abercrombie & Fitch,New York Stock Exchange,1669930.0,5.0,1.0,908.0,43976.0,0
631570,2015-01-03,Apparel Retail,Apparel Retail,Abercrombie & Fitch,Abercrombie & Fitch,United States of America,Abercrombie & Fitch,New York Stock Exchange,1669930.0,5.0,1.0,908.0,43976.0,0
630782,2015-01-10,Apparel Retail,Apparel Retail,Abercrombie & Fitch,Abercrombie & Fitch,United States of America,Abercrombie & Fitch,New York Stock Exchange,1707596.0,5.0,1.0,545.0,45818.0,7
631189,2015-01-10,Apparel Retail,US Softlines Analyst Interest List,Abercrombie & Fitch,Abercrombie & Fitch,United States of America,Abercrombie & Fitch,New York Stock Exchange,1707596.0,5.0,1.0,545.0,45818.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631077,2023-09-09,Apparel Retail,US Softlines Analyst Interest List,Abercrombie & Fitch,Abercrombie & Fitch,United States of America,Abercrombie & Fitch,New York Stock Exchange,5313591.0,35.0,23.0,1165.0,150449.0,0
631262,2023-09-09,Apparel Retail,Omnichannel Apparel Retail,Abercrombie & Fitch,Abercrombie & Fitch,United States of America,Abercrombie & Fitch,New York Stock Exchange,5313591.0,35.0,23.0,1165.0,150449.0,0
631011,2023-09-16,Apparel Retail,Omnichannel Apparel Retail,Abercrombie & Fitch,Abercrombie & Fitch,United States of America,Abercrombie & Fitch,New York Stock Exchange,5320115.0,38.0,18.0,6617.0,183510.0,7
631679,2023-09-16,Apparel Retail,Apparel Retail,Abercrombie & Fitch,Abercrombie & Fitch,United States of America,Abercrombie & Fitch,New York Stock Exchange,5320115.0,38.0,18.0,6617.0,183510.0,0
631755,2023-09-16,Apparel Retail,US Softlines Analyst Interest List,Abercrombie & Fitch,Abercrombie & Fitch,United States of America,Abercrombie & Fitch,New York Stock Exchange,5320115.0,38.0,18.0,6617.0,183510.0,0

,brand,date,compset_group,compset,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,followers,pictures,videos,comments,likes,time_since_last
0,24S,2017-05-06,Apparel Retail,Apparel Retail,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,NaN,NaN,NaN,NaN,NaN,0
1,24S,2017-05-13,Apparel Retail,US Softlines Analyst Interest List,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,NaN,6.0,3.0,57.0,1765.0,7
2,24S,2017-05-20,Apparel Retail,Apparel Retail,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,NaN,6.0,3.0,57.0,1765.0,7
3,24S,2017-05-27,Apparel Retail,Apparel Retail,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,NaN,6.0,3.0,57.0,1765.0,7
4,24S,2017-06-03,Apparel Retail,Apparel Retail,LVMH Moet Hennessy Louis Vuitton SE,France,LVMH Moet Hennessy Louis Vuitton SE,Euronext Paris,NaN,24.0,3.0,109.0,3922.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298490,shopDisney,2023-08-19,Toys & Collectibles,Toys & Collectibles,Disney,United States of America,Disney,New York Stock Exchange,4221812.0,266.0,52.0,3099.0,266166.0,7
298491,shopDisney,2023-08-26,Toys & Collectibles,Toys & Collectibles,Disney,United States of America,Disney,New York Stock Exchange,4224473.0,265.0,61.0,3494.0,316126.0,7
298492,shopDisney,2023-09-02,Toys & Collectibles,Toys & Collectibles,Disney,United States of America,Disney,New York Stock Exchange,4228605.0,268.0,61.0,3920.0,341795.0,7
298493,shopDisney,2023-09-09,Toys & Collectibles,Toys & Collectibles,Disney,United States of America,Disney,New York Stock Exchange,4233764.0,259.0,56.0,3700.0,335231.0,7
298494,shopDisney,2023-09-16,Toys & Collectibles,Toys & Collectibles,Disney,United States of America,Disney,New York Stock Exchange,4239207.0,244.0,72.0,3908.0,330793.0,7

In [44]:
df.nunique()

period_end_date                              455
compset_group                                 20
compset                                       54
business_entity_doing_business_as_name       706
legal_entity_name                            423
domicile_country_name                         26
ultimate_parent_legal_entity_name            401
primary_exchange_name                         30
followers                                 243231
pictures                                    8190
videos                                      3748
comments                                   52500
likes                                     197943
dtype: int64

In [49]:
for k, v in df.groupby('ultimate_parent_legal_entity_name')['business_entity_doing_business_as_name'].nunique().sort_values(ascending=False).items():
    print(k, v)

LVMH Moet Hennessy Louis Vuitton SE 23
L'Oreal 18
Anheuser-Busch 18
Estee Lauder 15
Richemont 13
Swatch 12
Arezzo Industria e Comercio SA 9
L'Arche Green NV 8
Societe d'Investissements Cime SA 8
Agnaten SE 7
GRUPO DE MODA SOMA SA 7
Pontegadea Inversiones SL 7
Kering 6
Coca-Cola 6
Nestle 5
Shiseido 5
Signet Jewelers Ltd 5
Foot Locker 5
KAO 5
Authentic Brands Group LLC 4
Pepsi 4
Unilever 4
Veste S.A. Estilo 4
Pentland Group Ltd 4
Genesco Inc 4
General Mills 4
Inbrands SA 4
VF Corporation 4
Gap 4
Danone 4
Anta International Group Holdings Ltd 4
Mars 4
AbbVie 3
Diageo 3
Darden Restaurants 3
PVH Corporation 3
Disney 3
Boohoo 3
Boardriders Inc 3
The TJX Companies 3
Unilever NV 3
Restaurant Brands International 3
Kathmandu (NZ) 3
Asos 3
Yum! Brands 3
Macy's 3
Wolverine World Wide Inc 3
Carter's 3
Revolve Group Inc 3
Henkel AG & Co KgaA 3
Ermenegildo Zegna 3
Hillhouse Capital Group 3
Capri Holdings 3
Beijing Ruyi Fashion Investment Holding Co Ltd 3
Crocs 2
DSW 2
J M Smucker Co 2
Simply Good Foods 2
Sovos Brands Intermediate Inc 2
Columbia Sportswear 2
JS Global 2
DI VI Finanziaria DI Diego Della Valle & Co Srl 2
Maus Freres Holding AG 2
Dave & Buster's 2
Roberto Cavalli S.p.A. 2
Puig Beauty & Fashion Group S.L. 2
H&M 2
Galderma Pharma SA 2
G-III Apparel Group 2
Procter & Gamble 2
Forever 21 2
Fast Retailing Co Ltd 2
Deckers Outdoor Corp 2
Farfetch 2
Rolex 2
Ross Stores 2
Mash Holdings Ltd 2
Hudson's Bay 2
Hugo Boss 2
Pernod Ricard 2
Grupo Boticario 2
Christian Louboutin 2
L Perlman Secs 2
Alexander Wang Inc 2
BPS Direct, L.L.C 2
Alice + Olivia LLC 2
Natura &Co 2
Levi Strauss & Co. 2
American Eagle 2
Merz Holding GmbH & Co KG 2
Apax Partners LLP 2
Litor Ltd 2
Mizkan Group 2
Urban Outfitters 2
Vivara 2
Moncler 2
Ludo Srl 2
BSA SA 2
Mayhoola for Investments Spc 2
Neiman Marcus Group 2
ACON Investments LLC 2
Tapestry 2
ARG Investment Corp 2
Abercrombie & Fitch 2
Adidas 2
Maxingvest AG 2
THE RELATED COMPANIES, L.P. 2
Nordstrom 2
Maple Leaf Foods Inc 2
Manolo Blahnik International Ltd 2
Kontoor Brands 2
Lululemon 2
Poshmark 1
McDonald's 1
Minor Figures Ltd 1
Pop Mart International Group Ltd 1
Proenza Schouler LLC 1
Prollenium Medical Technologies Inc 1
Mizuno Corp 1
Moda Operandi Inc 1
Max Mara Fashion Group - Srl 1
Planet Fitness Holdings, LLC 1
Puma 1
Pure Farmland 1
Mondelez 1
Pinduoduo 1
Perry Capital LLC 1
Otto Clothing Pvt Ltd 1
Outdoor Voices Inc 1
On Holding AG 1
Pure Group 1
Olaplex Holdings Inc 1
Owens Corning 1
P.E Nation 1
Noodles & Company 1
PENTLAND GROUP LIMITED_Duplicate 1
No Evil Foods 1
Nike 1
Newell Brands 1
New Balance Inc 1
Natura &Co;L'Oreal 1
Pandora Jewelry 1
Nanjing Lingtian Information Technology Co., Ltd 1
Papa John's 1
Paquetá Calçados Ltda 1
Patek Philippe SA 1
NOBULL, LLC 1
Peloton 1
Movado Group Inc 1
Monster Energy 1
Otto GmbH & Co KG 1
Monde Nissin 1
Ollie's Outlet 1
 DO NOT USE 1
Purple 1
Under Armour 1
Turtle Island Foods Inc 1
TriArtisan Capital Advisors LLC 1
Tory Burch 1
Tom Ford International, LLC 1
Tobi.Com LLC 1
Tineco Intelligent Technology Co., Ltd 1
Timex Group USA Inc 1
Tiferet Comercio de Roupas Ltda 1
ThredUp Inc 1
The RealReal 1
The Meatless Farm 1
The Kooples Diffusion SAS 1
Texas Roadhouse 1
Tesco 1
Tempur Sealy International Inc 1
Ted Baker 1
Taveta Investments Ltd;Parkwood Entertainment, LLC 1
Ulta Beauty 1
Uptons Naturals Co. 1
Quadrant Private Equity Pty Ltd 1
Very Good Food Company Inc 1
elf Beauty Inc 1
Zalando 1
YesAsia Holdings Ltd 1
YETI Holdings Inc 1
Xponential Fitness LLC 1
Woolworths 1
Wind Point Partners LP 1
Whatabrands LLC 1
West Coast Fitness LLC 1
Wendy's 1
Way of Life Athletic, inc. 1
Warehouse Group Ltd/The 1
Wahoo Fitness, LLC 1
Vital Pharmaceuticals Inc 1
Vista Outdoor Inc 1
Virgin Group Holdings Ltd 1
Victoria's Secret & Co 1
Target 1
Sycamore Partners 1
Superdry 1
Super Retail Group Ltd 1
Santander Bank 1
Santa Lolla 1
Sanrio Co Ltd 1
Sainsburys Supermarket 1
Rude Health Foods Ltd 1
Royal Building Products 1
Rosa Cha USA LLC 1
RokFit, Inc. 1
Robotime Technology (Suzhou) Co., Ltd. 1
Roborock;Xiaomi 1
Roark Capital Group Inc 1
Rent the Runway Inc 1
Reliance Worldwide 1
Red Robin Gourmet Burgers 1
Red Bull 1
Ralph Lauren 1
REI 1
Sattva Co 1
Savers Value Village Inc 1
Schutz Shoes Design Comercio de Calcados Ltda 1
Smile Direct Club 1
Sun Capital Partners Inc 1
Suit Supply 1
Stitch Fix 1
Steve Madden 1
Starbucks 1
St. Gobain 1
St Rémy 1
Sleep Number 1
Seed Beauty 1
Skechers 1
Shoulder Industria e Comercio de Confeccoes Ltda 1
Shenzhen Seulin Culture & Entertainment Co., Ltd 1
Shandong Handu Yishe E-Commerce Group Co. Ltd. 1
Shake Shack 1
Seven Group 1
Seiko Group Corp 1
Ryohin Keikaku 1
Kraft Heinz Co 1
Mary Kay Inc 1
Citizen Watch Co Ltd 1
Cinven Group Ltd 1
Chobani 1
Chipotle Mexican Grill 1
Children's Place 1
Chick-fil-A 1
Cheesecake Factory 1
Cereal Base Ceba AB 1
Cerberus Capital Management LP 1
Celsius Holdings Inc 1
Casio Computer Co Ltd 1
Carmen Steffens 1
Carlyle Group Inc/The 1
Califia Farms LLC 1
Caleres Inc 1
CSR 1
COFRA Holding AG 1
CK Amorim Comércio de Artefatos de Metais Ltda 1
Citi Trends Inc 1
City Chic Collective Ltd 1
Marisa Lojas SA 1
Classpass UK Ltd 1
Dollar General 1
Dolce & Gabbana Srl 1
Dine Brands 1
Dillard's 1
Dieter Schwarz Stiftung gGmbH 1
Dick's Sporting Goods 1
Diane von Furstenberg Studio LP 1
Daniel Wellington AB 1
DW Sports Fitness 1
DUNLOP SPORTS CO LTD 1
Coulter Ventures LLC 1
Corello 1
ContextLogic Inc 1
Conagra Brands 1
Color Image Apparel Inc 1
Colgate-Palmolive 1
Coles 1
CEMEX 1
CCC SA 1
C&A MODAS SA 1
Burlington Stores 1
BJ's Restaurant & Brewhouse 1
BC Partners Holdings Ltd 1
Asics Corp 1
Armani 1
Aritzia 1
Anheuser-Busch;Anheuser-Busch 1
Anastasia Holdings LLC 1
Amazon 1
Allbirds Inc 1
Align Technology 1
Aldo Group Inc/The 1
Aldi 1
Airesis SA 1
Agache SE 1
Aga Marvel 1
ARO Liquidation Inc 1
AMARO FASHION LTDA 1
Bain Capital 1
Balmain SA 1
Barilla Holding SpA 1
Breitling SA 1
Burberry 1
Build-A-Bear Workshop Inc 1
Buckle 1
Browning Enterprises Ltd 1
Brooks Brothers 1
Brinker International 1
Breville 1
Boozt AB 1
Bath & Body Works 1
Boot Barn Holdings 1
Bloomin' Brands 1
Blaze Pizza LLC 1
Bjorg Bonneterre Et Compagnie SASU 1
Big Lots Inc 1
Beyond Meat 1
Bell & Ross 1
Dollar Tree 1
Domino's Pizza 1
Doyoueven Ltd 1
Il Makiage Ltd 1
La Jolla Group Inc 1
Kose 1
Kohl's 1
Knight & Wilson 1
Klean Kanteen Inc 1
Kind LLC 1
Keurig Dr Pepper 1
Kennedy Lewis Investment Management LLC 1
Kellogg 1
KKR & Co Inc/DE 1
Jordan Co LP/The 1
James Hardie Industries 1
Jack in the Box 1
JC Penney 1
Intelligent Beauty Inc 1
Inspire Brands Inc 1
In-N-Out Burger 1
Lagfin SCA 1
Le Petit-Fils de LU Chopard Cie SA 1
Le Tote Inc 1
Luíza Marchiori 1
Mango 1
Madison Reed 1
MacNeill Pride Group Corp 1
MacAndrews & Forbes Inc_Duplicate 1
MYT Holding LLC 1
MINISO Group Holding Ltd 1
MC Via Parque Comercio de Relogios LTDA 1
Lucky 1
Leesa Sleep LLC 1
Lovisa 1
Louisiana-Pacific Corp 1
Lorna Jane Pty Ltd 1
Lojas Renner 1
Lion Capital LLP 1
Li Ning 1
Leonard Green & Partners 1
Impossible Foods Inc 1
IHF Holdings Inc 1
Dr. Martens Plc 1
Hylete Inc 1
Garfield Weston Foundation 1
G Holdings Inc 1
Five Below 1
Fitplan Technologies Inc 1
Fitness Anywhere LLC 1
Ferragamo Finanziaria SpA 1
Fedone Srl 1
Federated Department Stores 1
Fashion Nova Inc 1
Fage International SA 1
Evolus Inc 1
Etsy 1
EssilorLuxottica 1
Esprit Holdings Ltd 1
Equinox Group 1
Ecovacs 1
Durational Capital Management LP 1
Garmin Ltd 1
Global Fashion Group SA 1
Goodwill Industries International Inc 1
Hain Celestial Group Inc/The 1
Huffer Direct Limited 1
Hour Glass Ltd 1
Horométrie SA 1
Hibbett Inc 1
Hershey Co 1
Helen of Troy Ltd 1
HanesBrands 1
HUMAN Healthy Vending LLC 1
Green Light Holdings LLC 1
HP Hood LLC 1
H51 SAS 1
H Stern Jewelers Inc 1
Gymshark Ltd 1
Guararapes 1
Grupo Petropolis 1
Groupe Atallah Inc. 1
iRobot Corp 1

In [14]:
df_by_brand = df.groupby('business_entity_doing_business_as_name')
df_by_brand

,period,period_end_date,compset_group,compset,legal_entity_name,domicile_country_name,ultimate_parent_legal_entity_name,primary_exchange_name,calculation_type,followers,pictures,videos,comments,likes
business_entity_doing_business_as_name,,,,,,,,,,,,,,
24S,1332,1332,1332,1332,1332,1332,1332,1332,1332,1252,1328,1328,1328,1328
3.1 Phillip Lim,1365,1365,1365,1365,1365,0,1365,0,1365,1311,1365,1365,1365,1365
3CE,455,455,455,455,455,455,455,455,455,324,455,455,455,455
A. Lange & Soehne,806,806,806,806,806,806,806,806,806,790,800,802,802,802
ANIMALE,403,403,403,403,403,403,403,403,403,272,403,401,403,403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
bareMinerals,455,455,455,455,455,455,455,455,455,430,455,455,455,455
dd's Discounts,987,987,987,987,987,987,987,987,987,972,987,984,987,987
e.l.f.,455,455,455,455,455,455,455,455,455,453,455,455,455,455
iRobot,420,420,420,420,420,420,420,420,420,73,419,411,408,419
shopDisney,272,272,272,272,272,272,272,272,272,272,272,272,272,272

In [23]:
def has_nan(group):
    return group.isnull().all()

has_no_stock = df_by_brand['primary_exchange_name'].apply(has_nan)

brands_with_stock = [k for k, v in has_no_stock.items() if not v]
brands_without_stock = [k for k, v in has_no_stock.items() if v]

In [24]:
len(brands_with_stock)

467

In [25]:
len(brands_without_stock)

239

In [26]:
def preprocess(df):
    df = df.copy()
    categorical_features = df.select_dtypes(include=['object', 'category']).columns

    # One-hot encode categorical features while treating NaN as its own category
    for feature in categorical_features:
        df[feature] = df[feature].fillna('NaN')  # Fill NaN values with a placeholder
        df = pd.get_dummies(df, columns=[feature], prefix=feature, dummy_na=True)

    return df

In [27]:
preprocess(df)

,followers,pictures,videos,comments,likes,period_Weekly,period_nan,period_end_date_2015-01-03,period_end_date_2015-01-10,period_end_date_2015-01-17,...,primary_exchange_name_Shanghai Stock Exchange,primary_exchange_name_Shanghai Stock Exchange;Hong Kong Exchange,primary_exchange_name_Singapore Exchange,primary_exchange_name_Six Swiss Exchange,primary_exchange_name_Tokyo Stock Exchange,primary_exchange_name_Toronto Stock Exchange,primary_exchange_name_Warsaw Stock Exchange/Equities/Main Market,primary_exchange_name_nan,calculation_type_Metric Value,calculation_type_nan
0,22066189.0,97.0,13.0,16239.0,6112205.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,24289963.0,54.0,2.0,13358.0,3189144.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,7137442.0,42.0,8.0,15894.0,2152955.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,18901125.0,73.0,9.0,26762.0,5224916.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,30251374.0,54.0,10.0,25681.0,5760987.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704308,NaN,50.0,8.0,1271.0,14818.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
704309,163873.0,125.0,2.0,1764.0,34188.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
704310,319485.0,118.0,35.0,1697.0,6328.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
704311,228699.0,129.0,2.0,1972.0,29174.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
704312,310895.0,128.0,33.0,2606.0,10960.0,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

Timestamp('2019-12-07 00:00:00')